<!DOCTYPE html>
<html>
    <head>
        <title><%= diagramKey %></title>
        <script type="application/javascript">
            function structurizrElementDoubleClicked(evt, viewKey, url) {
                if (viewKey !== undefined) {
                    if (evt.altKey === true && url !== undefined) {
                        window.open(url);
                    } else {
                        window.location.hash = encodeURIComponent(viewKey);
                    }
                } else if (url !== undefined) {
                    window.open(url);
                }
            }
        </script>
    </head>
    <body>
        <h1><%= diagramKey %></h1>
        <section>
            <%- diagramKeySvgMarkup %>
        </section>
        <section>
            <%- diagramSvgMarkup %>
        </section>
    </body>
</html>